---
import App from "../App.astro";
import DiscordLogin from "../components/DiscordLogin.astro";
---

<App>
	<p>You have to <DiscordLogin text="CONNECT WITH DISCORD" /> to register/view your commands</p>
	<br>
	<p><strong><samp>0</samp> REGISTERED COMMANDS</strong></p>

</App>
