---
import App from "../App";
import DiscordLogin from "../components/DiscordLogin";
import Tooltip from "../components/Tooltip";
---

<App article>
	<DiscordLogin client:load slot="side" />
	<p>You have to <DiscordLogin client:idle text="CONNECT WITH DISCORD" /> to register/view your commands</p>
	<br>
	<p><strong><samp><Tooltip text="Click to show all">0</Tooltip> REGISTERED COMMANDS</samp></strong></p>
</App>
