---
const { cbURI } = Astro.props;
---

<p>
	<a class="font-sans" rel="noreferrer" rel="noopener" target="_blank" href="https://discord.gg/XPmREGZt3X">
		Login
		<i class="fa-brands fa-discord"></i>
	</a>
</p>
