---
interface Props {
	text?: string;
}
const { text = "Login" } = Astro.props;
---

<span>
	<a class="font-sans" rel="noreferrer" rel="noopener" target="_blank" href="https://discord.gg/XPmREGZt3X">
		<span class={!!text ? "underline" : ""}>{text}</span>
		<i class="fa-brands fa-discord"></i>
	</a>
</span>
