---
const funnies = [
	"henlo",
	"bruh moner",
	"hello there :^)",
	"how u doin'",
	"this element is called rand parag",
	"discord's auth api is free to use",
] as const;
---

<span>{funnies[Math.floor(Math.random()*funnies.length)]}</span>
