---
import "./styles/global.css";
import Header from "./components/Header.astro";

interface Props {
	article?: boolean;
	name?: string;
	noheader?: boolean;
}
const { name, noheader, article } = Astro.props;
---


<html lang="en">
<head>
	<meta charset="utf-8" />
	<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{!!name ? `UDB. - ${name}` : "Untitled Discord Bot."}</title>

	<script src="https://kit.fontawesome.com/f1c64566e3.js" crossorigin="anonymous"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
</head>

<body>

{!!noheader ? void 0 : <Header name={name} /> }

{ article ? <article>
	<slot />
</article> : <slot /> }

</body>
</html>
